.free-shipping{
    color: #fff;
}
.top-nav {
    background-color: black;
    height: auto;
}
.coza {
    font-weight: bold;
}
.navbar-brand {
    font-size: 26px;
}
.cart-font {
    font-size: 22px;
    color: #000;
}
.navbar-light .navbar-nav .nav-link {
    color: #000;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #007bff;
}
.sup {
    background-color: #007bff;
}
#active-page {
    color: rgb(36, 135, 206);
}
.example {
    background-color: burlywood;
    height: 700px;
}
.navbar-bottom {
    background-color: #fff;
}
.product-overview {
    color: #000;
    font-weight: bold;
    font-size: 33px;
}
.product-menu .nav .nav-item a {
    color: #A9A889;
}
.product-menu .nav .nav-item .active-product {
    color: #000;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    padding-right: 5px;
    margin-right: 0px;
}
.nav-tabs .nav-link {
    border: 0;
}
.nav-tabs {
    border: 0;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #000;
    border-bottom: 1px solid #000;
}
.product-menu .nav .nav-item a:hover{
    color: #000;
    border-bottom: 1px solid #000;
}
.card {
    border: none;
}
.card-footer-color {
    color: #A9A889;
}
.load-more {
    background-color: #E6E6E6;
    font-size: 16px;
    padding:15px 50px;
    margin-bottom: 150px;
}
.load-more:hover {
    background-color: #000;
    color: #fff;
}
.load-more-button {
    width: 150px;
}
.footer {
    background-color: #000;
    margin-bottom: 0;
}
.footer-padding {
    padding: 100px 0px 30px 0px;
}
.footer-nav{
    padding: 30px 0px;
}
.footer-nav ul li a {
    color: #A9A889;
    font-size: 14px;
}
.footer-nav ul li a:hover {
    color: #fff;
}
.footer h5 {
    color: #fff;
}
.footer p {
    color: #A9A889;
    padding: 30px 0px 5px 0px;
    font-size: 14px;
}
.social-media-icons {
    font-size: 20px;
    padding-right: 15px;
    color: #A9A889;
}
.social-media-icons:hover {
    color: #fff;
}
.news-letter {
    padding-top: 30px;
}
.news-letter .email {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #A9A889;
}
.news-letter .email-subscribe {
    background-color: transparent;
    padding: 10px 50px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
}
.subscribe-badge {
    margin-top: 30px;
}
.subscribe-badge:hover {
    background-color: #A9A889;
}
.payment-icons {
    font-size: 25px;
}
.footer-copyright a:hover {
    color: #fff;
    text-decoration: none;
}